.img-left{
    transform: rotate(180deg);
}

.cube {
    width: 200px;
    height: 200px;
    background: palevioletred;
}

div{
    transition: transform 2s;
}
div:hover{
    transform: rotateZ(45deg);
}

body{
    padding: 50px;
    background-color: black;
}