div{
    font-family: monospace;
    font-stretch: condensed;
    font-size: xx-large;
    color: rgb(230, 176, 230);
    text-align: center;
}


#grid-div{
    height: 50vw;
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: 45% 5% 10% 40%;
    grid-template-rows: 15% 30% 20% 20% 15%;
}

#grid-div > div {
    margin: 0;
}

#grid1 {
    grid-column: 1/3; 
    grid-row: 1 / 2; 
    background-color: rgb(126, 20, 99);
}

#grid2 {
    grid-column: 3/5; 
    grid-row: 1 / 2; 
    background-color: rgb(134, 27, 161);
}

#grid3 {
    grid-column: 1/2; 
    grid-row: 2 / 3; 
    background-color: rgb(160, 30, 127);
}

#grid4 {
    grid-column: 1/2; 
    grid-row: 3 / 4; 
    background-color: rgb(179, 36, 143);
}

#grid5 {
    grid-column: 1/2; 
    grid-row: 4 / 6; 
    background-color: rgb(201, 43, 161);
}

#grid6 {
    grid-column: 2/4; 
    grid-row: 2 / 6; 
    background-color: rgb(157, 27, 161);
}

#grid7 {
    grid-column: 4/5; 
    grid-row: 2 / 4; 
    background-color: rgb(146, 29, 175);
}

#grid8 {
    grid-column: 4/5; 
    grid-row: 4 / 5; 
    background-color: rgb(157, 30, 189);
}

#grid9 {
    grid-column: 4/5; 
    grid-row: 5 / 6; 
    background-color: rgb(158, 32, 207);
}