.circule_1 {
    width: 60px;
    height: 60px;
    left: 0%;
    background: red;
    animation: anim 5s linear infinite, color 5s linear infinite;
}

@keyframes anim{
    0%{transform: rotate(0deg); left: 0%; top: 0%}
    15%{transform: rotate(180deg); left: 50%; top: 0%}
    30%{transform: rotate(360deg); left: 50%; top: 50%}
    45%{transform: rotate(510deg); left: 50%; top: 100%}
    60%{transform: rotate(720deg); left: 100%; top: 100%}
    75%{transform: rotate(510deg); left: 100%; top: 50%}
    95%{transform: rotate(360deg); left: 100%; top: 0%}
    100%{transform: rotate(180deg); left: 50%; top: 0%}
}

@keyframes color{
    0%{background-color: red;}
    15%{background-color: orange;}
    30%{background-color: yellow;}
    45%{background-color: green;}
    60%{background-color: rgb(0, 81, 255);}
    75%{background-color: purple;}
    95%{background-color: rgb(243, 11, 204);}    
    100%{background-color: red;}
}


body{
    padding: 50px;
    background-color: black;
}