.circle {
    width: 250px;
    height: 250px;
    background: purple;
    border-radius: 50%;
}

div{
    transition: transform 0.75s;
    transition-timing-function: ease-in;
}

div:hover{
    transform: translate(100%, 100%);
}

body{
    padding: 50px;
    background-color: black;
}